* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("http://i.imgur.com/wB1Wp6L.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	color: #0f0f0f;
	font-size:18px;
	font-family: Verdana, sans-serif;
}
#slogan {
	text-align: center;
	position: fixed;
}
#slogan p {
	background-color: rgba(90,90,90,0.6);
	color: #dfddd1;
	/*width: 1100px;*/
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
}
hr {
/*	width: 800px;
*/	height: 0.25em;
	color: #000;
}
section#les_filles {
	background: rgba(175,175,175,0.5);
	position: center;
	padding:3em;
	margin:0 auto 0 auto;
	/*width: 1000px;*/
}
h1 {
	color: #0a0a0a;
	font-size: 2em;
	text-shadow: 2px 2px 5px #909090;
	background-color: rgba(198,168,156,0.5); 
}
h2 {
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 5px #909090;
	margin-top: 4%;
	font-size: 3em;
}
h3 {
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
}
.text_block p {
	color: #0f0f0f;
	text-indent: 30px;
	font-size: 0.75em;
}
.contents_list h2 {
	font-size: 1em;
	text-align: left;
	margin-left: 3em;
}
.contents_list li {
	margin-left: 4.5em;
}
.text_block {
	width: 25%;
	height: 100%;
	border: 0.5em solid black;
	margin: 1em;
	margin-left: 3em;
	padding: 1em;
	background-color: rgba(100,100,100,0.4);
}
.picture {
	margin-left: auto;
	margin-right: auto;
}
.picture h2 {
	margin: 0;
	text-align: left;
	font-size: 1.5em;
}
#first_grouping {
	background-color: rgba(177,138,94,0.5) 
}
#second_grouping {
	background-color: rgba(185,211,226,0.5) 
}